# Awesome Testflight App List
Collect Public Testflight app URL's (iOS/iPad OS/macOS), feel free to create a issue.

## Github Action
Special thanks to [@tom-snow](https://github.com/tom-snow) for adding the [Github Action workflow](./GITHUB_ACTION.md) to this repository.

If you wanna fork this repo, please reading [this(ZH-CN)](./GITHUB_ACTION.md#4-其他说明) first!

## Available Status
* F: Full
* N: No
* D: Removed
* Y: Yes

#{macos}

#{ios}

#{ios_game}

#{chinese}

#{signup}
